#dashboard.menu
  h2#user(data-id=user._id.toString())= user.username
  .menu-item
    #food.stat Food: #{user.food}
    #consumption.stat Upkeep: #{user.consumption}
    #wood.stat Wood: #{user.wood.toFixed(1)}
    #ore.stat Ore: #{user.ore}
    #cash.stat Cash: $#{user.cash}
